<div fxLayout="row" class="container">
  <div fxLayout="column" fxFlex="320px" class="search">
    <md-input-container>
      <md-chip-list mdPrefix #chipList1>
          <md-chip *ngFor="let person of people" [selectable]="true" [removable]="true" (remove)="remove(person)">
            {{person.name}}
            <md-icon mdChipRemove>cancel</md-icon>
          </md-chip>
      </md-chip-list>
      <input mdInput placeholder="Search..."
             [mdChipInputFor]="chipList1"
             [mdChipInputAddOnBlur]="false"
             (mdChipInputTokenEnd)="add($event)" />
    </md-input-container>
    <h1>--- Search bar ---</h1>
  </div>
  <div fxLayout="column" fxFlex="calc(100% - 320px)" class="content">
    <h1>--- Content ---</h1>
    <h1>--- Content ---</h1>
    <h1>--- Content ---</h1>
    <h1>--- Content ---</h1>
    <h1>--- Content ---</h1>
  </div>
</div>
